<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'happy_hour_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <meta charset="utf-8">
    <title>Search Menus</title>
  </head>
  <body>
    <h1>Search</h1>
    <form action="/search_results" method="get">
      {%csrf_token%}
      Current location: <input type="text" name="address_location"><br> </input>
      Distance:

      <select name="distance">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      <input type="Submit" value="Submit">

    </form>
  </body>
</html>
