{% extends "happy_hour_app/base.html" %}
{% block content %}
    <h1>Search</h1>
    <form action="/search" method="get" id="search-rest">

      Current location: <input type="text" name="address_location" id="address_location"><br> </input>
      Distance:

      <select name="distance">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
      <input type="Submit" value="Submit">

    </form>
{% endblock %}
